@{
    ViewData["Title"] = "Home Page";
}
@model List<E_commerceMVCProject.viewmodels.ProductVM>

       <!-- slider -->

        <div id="slider" class="w-full h-96">
            <div class="slide" style="background: white">
                <img id="img_slide" src="img/iti-logo.png" class="h-full" />
            </div>

            <div class="slide" style="background: coral">
                <img id="img_slide" src="img/2.avif" class="h-full" />
            </div>
            <div class="slide" style="background: coral">
                <img id="img_slide" src="img/2.avif" class="h-full" />
            </div>

            <!--Controlling arrows-->
            <span class="controls" onclick="prevSlide(-1)" id="left-arrow"
                ><i class="fa fa-arrow-left" aria-hidden="true"></i>
            </span>
            <span class="controls" id="right-arrow" onclick="nextSlide(1)"
                ><i class="fa fa-arrow-right" aria-hidden="true"></i>
            </span>
        </div>
        <div id="dots-con">
            <span class="dot"></span><span class="dot"></span
            ><span class="dot"></span>
        </div>

        <!-- slider-end -->

        <!-- categories -->
        <div class="container py-16">
            <div
                class="text-3xl font-medium text-gray-800 uppercase mb-6 flex justify-center"
            >
                shop by category
            </div>
            <div class="flex justify-center">
                <div class="grid grid-cols-2 lg:grid-cols-3 gap-3">
                    <!-- single category -->
                    <div
                        class="w-32 md:w-60 lg:w-full relative rounded-sm overflow-hidden group"
                    >
                        <img
                            src="img//bedroom.avif"
                            alt="categoryImg"
                            class="w-full h-full"
                        />
                        <a
                            href=""
                            class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-sm lg:text-xl text-white font-roboto font-medium group-hover:bg-opacity-50 transition"
                            >Bedroom</a
                        >
                    </div>
                    <!-- single category-end -->
                    <!-- single category -->
                    <div
                        class="w-32 md:w-60 lg:w-full relative rounded-sm overflow-hidden group"
                    >
                        <img
                            src="img//bedroom.avif"
                            alt="categoryImg"
                            class="w-full h-full"
                        />
                        <a
                            href=""
                            class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-sm lg:text-xl text-white font-roboto font-medium group-hover:bg-opacity-50 transition"
                            >Bedroom</a
                        >
                    </div>
                    <!-- single category-end -->
                    <!-- single category -->
                    <div
                        class="w-32 md:w-60 lg:w-full relative rounded-sm overflow-hidden group"
                    >
                        <img
                            src="img//bedroom.avif"
                            alt="categoryImg"
                            class="w-full"
                        />
                        <a
                            href=""
                            class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-sm lg:text-xl text-white font-roboto font-medium group-hover:bg-opacity-50 transition"
                            >Bedroom</a
                        >
                    </div>
                    <!-- single category-end -->
                    <!-- single category -->
                    <div
                        class="w-32 md:w-60 lg:w-full relative rounded-sm overflow-hidden group"
                    >
                        <img
                            src="img//bedroom.avif"
                            alt="categoryImg"
                            class="w-full"
                        />
                        <a
                            href=""
                            class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-sm lg:text-xl text-white font-roboto font-medium group-hover:bg-opacity-50 transition"
                            >Bedroom</a
                        >
                    </div>
                    <!-- single category-end -->
                    <!-- single category -->
                    <div
                        class="w-32 md:w-60 lg:w-full relative rounded-sm overflow-hidden group"
                    >
                        <img
                            src="img//bedroom.avif"
                            alt="categoryImg"
                            class="w-full"
                        />
                        <a
                            href=""
                            class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-sm lg:text-xl text-white font-roboto font-medium group-hover:bg-opacity-50 transition"
                            >Bedroom</a
                        >
                    </div>
                    <!-- single category-end -->
                    <!-- single category -->
                    <div
                        class="w-32 md:w-60 lg:w-full relative rounded-sm overflow-hidden group"
                    >
                        <img
                            src="img//bedroom.avif"
                            alt="categoryImg"
                            class="w-full"
                        />
                        <a
                            href=""
                            class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-sm lg:text-xl text-white font-roboto font-medium group-hover:bg-opacity-50 transition"
                            >Bedroom</a
                        >
                    </div>
                    <!-- single category-end -->
                </div>
            </div>
        </div>
        <!-- categories-end -->

        <!-- product -->
        <div class="container pb-16">
            <h2
                class="text-2xl font-medium text-gray-800 uppercase mb-6 flex justify-center"
            >
                top new arrival
            </h2>

            <!-- product grid -->
            <div class="flex justify-center">
                <div
                    class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
                >
            @foreach (var product in Model)
            {
                <!-- single product -->
                <div class="w-72 bg-white rounded overflow-hidden drop-shadow-md group">
                    <!-- product image -->
                    <div class="relative">
                        <img src="/images/@product.Name/@product.Images.ElementAt(0).ImageName"
                         alt="product_img"
                         class="w-full h-56" />
                        <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                            <a href="/Product/Details/@product.Id"
                           class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition">
                                <i class="fas fa-search"></i>
                            </a>
                            <a href=""
                           class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition">
                                <i class="far fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <!-- product image-end -->
                    <!-- product content -->
                    <div class="pt-4 pb-3 px-4">
                        <!-- name -->
                        <a href=""
                       class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">chair</a>
                        <!-- price -->
                        <div class="flex items-baseline mb-1 space-x-2 font-roboto">
                            <p class="text-xl text-primary font-semibold">
                                $@product.BuyingPrice
                            </p>
                            <p class="text-sm text-gray-400 line-through">
                                $@product.SellingPrice
                            </p>
                        </div>
                        <!-- stars -->
                        <div class="flex items-center">
                            <div class="flex gap-1 text-sm text-yellow-400">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                            <div class="text-xs text-gary-500 ml-3">
                                @product.StockCount
                            </div>
                        </div>
                    </div>
                    <!-- add to cart btn -->
                    <a href="/ShoppingCart/AddtoCart/@product.Id"
                   class="block w-full mt-1 py-2 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition">Add to cart</a>
                    <!-- product content-end -->
                </div>
                <!-- single product-end -->
            }
            
                </div>
            </div>

            <!-- product grid-end -->
        </div>
        <!-- product-end -->
