@{
    ViewData["Title"] = "Profile";
}


<div class="container-fluid mt-5 pt-5">
    <div class=" grid grid-cols-2 lg:grid-cols-2 ">
        <ul class="list-unstyled text-center">
            <li> <img class="img-user" src="~/img/user.jpeg" />    </li>
            <li class="ps-4"><a onclick="GetData()">Personal Data</a></li>
            <li class="ps-4"><a onclick="GetUpdate()"> Update Profile</a></li>
            <li class="ps-4"><a asp-controller="Account" asp-action="Logout">Logout</a></li>
        </ul>

        <div id="personalData"></div>

    </div>

</div>

@section Scripts
    {
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(function () {
            GetData();
        });

        function GetData() {
            $.ajax({
                url: "/Profile/PersonalData",
                success: function (result) {
                    $("#personalData").html(result);
                }
            });
        }

        function GetUpdate() {
            $.ajax({
                url: "/Profile/UpdateUser",
                success: function (result) {
                    $("#personalData").html(result);
                }
            });
        }
    </script>
}